{% extends 'bazecar.html' %}
{%load static%}
{% block content %}
 <div class="page-header-wrap bg-img" data-bg="{% static 'img/bg/page-header-bg.jpg'%}" >
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="page-header-content">
                        <div class="page-header-content-inner">
                            <h1>Login | Register</h1>

                            <ul class="breadcrumb">
                                <li><a href="/">Home</a></li>
                                <li class="current"><a href="{% static '#">Login | Register</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
                        <div role="tabpanel">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <button style="color:white" class="btn btn-success " href="#account-login" aria-controls="account-login" role="tab" data-toggle="tab">
                                        <p>Account Login</p>
                                    </button>

                                </li>


                                <li role="presentation">
                                    <button class="btn btn-success" href="#account-register" aria-controls="account-register" role="tab" data-toggle="tab">
                                    <p >Register</p>
                                        </button>
                                </li>
                            </ul><!-- /.nav -->

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="account-login">

                                    <div class="alert alert-success alert-outline">
                                        <p>Please insert all inputs below.</p>
                                    </div>

                                    <form action="{% url 'login' %}" method="POST" >
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="login-account">Account</label>
                                            <input type="text" class="form-control" id="login-account" name="username">
                                        </div><!-- /.form-group -->

                                        <div class="form-group">
                                            <label for="login-password">Password</label>
                                            <input type="password" class="form-control" id="login-password" data-show-password="true" name="password">
                                        </div><!-- /.form-group -->

                                        <div class="forgot-passwd">
                                            <a href="#" title="">
                                                <i class="icon icon-key"></i>
                                                <span>Forgot your password?</span>
                                            </a>
                                        </div><!-- /.forgot-passwd -->

                                        <div class="form-button">
                                            <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
                                        </div><!-- /.form-group -->
                                    </form>
                                </div><!-- /.tab-pane -->

                                <div role="tabpanel" class="tab-pane" id="account-register">
                                    <form action="{% url 'register' %}" method="POST" >
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="register-username">Username <sup>*</sup></label>
                                            <input type="text" class="form-control" id="register-username" name="username">
                                        </div><!-- /.form-group -->

                                        <div class="form-group">
                                            <label for="register-email">Email <sup>*</sup></label>
                                            <input type="text" class="form-control" id="register-email" name="email">
                                        </div><!-- /.form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password <sup>*</sup></label>
                                            <input type="password" class="form-control" id="register-password" name="password">
                                        </div><!-- /.form-group -->

                                        <div class="form-group">
                                            <label for="register-confirm-password">Confirm Password <sup>*</sup></label>
                                            <input type="password" class="form-control" id="register-confirm-password">
                                        </div><!-- /.form-group -->

                                        <div class="form-button">
                                            <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
                                        </div><!-- /.form-button -->
                                    </form>
                                </div><!-- /.tab-pane -->
                            </div><!-- /.tab-content -->
                        </div>
                    </div>
                    
                </div><!-- /.menubar-search-form -->
</div>



{% endblock %}